<?php
/**
 * Class SampleTest
 *
 * @package Check_my_color
 */

/**
 * Sample test case.
 */
// use PHPUnit\Framework\TestCase;

//require_once("../check_my_color.php");
require_once("../ColorCheckerClass.php");

class StackTest extends PHPUnit\Framework\TestCase
{

    public function setUp(){
    	var_dump('test1');
    }
    public function tearDown(){
    	var_dump('test2');
    }

    public function testPushAndPop()
    {
        $stack = [];
        array_push($stack, 'foo');
        $this->assertSame('foo', array_pop($stack));
        $this->assertSame(0, count($stack));
    }

    public function testSample()
    {
    	var_dump('test3');
	$clrChecker = new ColorCheckerClass();
        $this->assertSame(3, $clrChecker->Add(1,4));
    }
}


